html,
body {
  padding: 0;
  margin: 0;
  font-family: silkscreen, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

canvas {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: white;
  background-color: rgb(113, 228, 12);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: silkscreen;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px 50px;
  font-size: 1.25rem;
  background-color: transparent;
  outline: unset;
  border: unset;
  color: rgb(113, 228, 12);
  cursor: pointer;
}

button:hover {
  color: white;
}

label,
input {
  display: flex;
  justify-content: space-around;
  color: rgb(113, 228, 12);
  margin: 10px 0;
}

a {
  font-family: "Silkscreen", cursive;
  color: rgb(89, 181, 89) !important;
  text-decoration: none !important;
}

i {
  font-size: 2rem;
  margin: 2px 6px;
  color: rgb(89, 181, 89);
}

i:hover {
  color: white;
  scale: 1.5;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: silkscreen;
  src: url(../public/fonts/Silkscreen-Regular.ttf);
}
