html,
body {
  padding: 0;
  margin: 0;
  font-family: silkscreen, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: white;
  background-color: rgb(113, 228, 12);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  font-family: "Silkscreen", cursive;
  color: rgb(89, 181, 89);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: silkscreen;
  src: url(../public/fonts/Silkscreen-Regular.ttf);
}
